{% extends 'index.html' %}

{% block title %}
Update Item
{% endblock %}


{% block body %}

<body class="text-center">
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">
                Редагувати опис книги
            </h1>

        <form action="/update/{{item.id}}" method="POST"class="form-group row" style="color:white">
            {{ form.hidden_tag() }}
            <br>

            {{ form.name.label() }}
            {{ form.name(class="form-control", placeholder="Назва книги", value="{{item.name}}")}}

            {{ form.ISBN.label() }}
            {{ form.ISBN(class="form-control", placeholder="ISBN", value="{{item.ISBN}}") }}

            {{ form.price.label() }}            {{ form.price(class="form-control", placeholder="В гривнах", value="{{item.price}}") }}

            {{ form.description.label() }}
            {{ form.description(class="form-control", placeholder="Короткий опис", value="{{item.description}}") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}